.home-page {
  background-color: rgb(175, 171, 171);
  height: 100vh;
}

.H1-wrapper {
  display: flex;
  justify-content: center;
}

.home-page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-left: 10%;
}

.article-flex-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
